{%  extends "Calculator/header.html" %}
{% block title %}
    <title>Home</title>
    {% load static %}
{% endblock %}
{% block content %}

    <br/>
    <div class="container">
        <h1 style="display: inline-block;">
            Alternatives
        </h1>
        <form method="get" action="{% url "create_alternative" %}" style="float: right;display: inline-block">
            <button type="submit" class="btn btn-outline-dark" style="display:inline-block;margin: 5px;"> <i class="fas fa-plus"></i></button>
        </form>
        <form method="get" action="{% url "compare" %}" style="float: right;">
            <button type="submit" class="btn btn-outline-dark" style="display:inline-block;margin: 5px;"> <i class="fas fa-balance-scale"></i></i> Compare</button>
        </form>

    </div>
    <div class="container">
        <table class="table">
          <thead>
            <tr>
                <th scope="col">Alternative Name</th>
                <th scope="col" style="{ max-width: 20% }">Description</th>
                <th scope="col">Interest</th>
                <th>Comparing</th>
            </tr>
          </thead>
          <tbody>
              {% for alt in alts %}
                  <tr>
                      <td scope="col">{{ alt.name }}</td>
                      <td scope="col" style="{ max-width: 20% }">{{ alt.description }}</td>
                      <td scope="col">{{ alt.interest }} % ({{ alt.get_interest_type_display }})</td>
                      <td scope="col">
                          {% if alt.is_selected %}
                                <input type="button" class="btn btn-outline-danger" value="Remove" onclick="location.href='{% url 'unselect_for_compare' id=alt.pk %}';"></input>
                          {% else %}
                                <input type="button" class="btn btn-outline-success" value="Add" onclick="location.href='{% url 'select_for_compare' id=alt.pk %}';"></input>
                          {% endif %}
                          <input type="button" class="btn btn-outline-dark" value="Edit" onclick="location.href='{% url 'edit_alternative' id=alt.pk %}';"></input>
                      </td>
                  </tr>
              {% endfor %}
          </tbody>
        </table>
    </div>
{% endblock %}