{%  extends "Calculator/header.html" %}
{% block title %}
    <title>Home</title>
{% endblock %}
{% block content %}
    <br/>
    <div class="container">
        <h1 style="display: inline-block;">
            Comparison Results
        </h1>
    </div>
    {% if qty < 1 %}
        <div class="container" style="margin: 0 auto;">
        <div class="card">
          <div class="card-header">
            No options to display.
          </div>
          <div class="card-body">
            <h5 class="card-title">Oops!</h5>
            <p class="card-text">It seems like you didn't add options to compare from the alternatives list! Make sure to add a couple to start.</p>
            <a href="/calc/alt/" class="btn btn-outline-dark">Go back</a>
          </div>
        </div>
    {% else %}
        <div class="container" style="margin: 0 auto;">
        <div class="card text-white bg-success">
          <div class="card-header">
            Best Option!
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ best.name }}</h5>
            <p class="card-text">{{ best.description }}</p>
            <p class="card-text">{{ alts.0.vna }}</p>
            <table class="table">
              <thead>
                <!--<tr>
                    <th scope="col">Alternative Name</th>
                    <th scope="col" style="{ max-width: 20% }">Description</th>
                    <th scope="col">Interest</th>
                    <th>Comparing</th>
                </tr>-->
              </thead>
              <tbody>
                  {% for alt in alts %}

                  {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="container"><br/></div>
            {% for alternative in alts %}
                {% if alternative.alt.pk != best.pk %}
                    <div class="card">
                  <!--    <div class="card-header">
                        {{ alternative.name }}
                      </div>-->
                      <div class="card-body">
                        <h3 class="card-title">{{ alternative.alt.name }}</h3>
                        <p class="card-text">{{ alternative.alt.description}}</p>
                        <p class="card-text">{{ alternative.vna}}</p>
                      </div>
                    </div>
                    <div class="container"><br/></div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}