{%  extends "Calculator/header.html" %}
{% block title %}
    <title>Home</title>
{% endblock %}
{% block content %}
    <br/>
    <div class="container">
        <h1 style="display: inline-block;">
            Comparison Results
        </h1>
    </div>
    {% if qty < 1 %}
        <div class="container" style="margin: 0 auto;">
        <div class="card">
          <div class="card-header">
            No options to display.
          </div>
          <div class="card-body">
            <h5 class="card-title">Oops!</h5>
            <p class="card-text">It seems like you didn't add options to compare from the alternatives list! Make sure to add a couple to start.</p>
            <a href="/calc/alt/" class="btn btn-outline-dark">Go back</a>
          </div>
        </div>
    {% else %}
        <div class="container" style="margin: 0 auto;">
        <div class="card">
          <div class="card-header">
            Best Option
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ best.name }}</h5>
            <p class="card-text">{{ best.description }}</p>
            <p class="card-text">{{ best.earnings }}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
            {% load static %}
          <img class="card-img-top" src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fmaxcdn.icons8.com%2Foffice%2FPNG%2F512%2FSports%2Ftrophy-512.png&f=1" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="container"><br/></div>
            {% for alternative in alts %}
                {% if alternative != best %}
                    <div class="card">
                      <div class="card-header">
                        {{ alternative.name }}
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                      </div>
                    </div>
                    <div class="container"><br/></div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}