{%  extends "Calculator/header.html" %}
{% block title %}
    <title>Home</title>
{% endblock %}
{% block content %}
    <br/>
    <div class="container">
        <h1 style="display: inline-block;">
            Comparison Results
        </h1>
    </div>
    {% if qty < 1 %}
        <div class="container" style="margin: 0 auto;">
        <div class="card col-sm-8">
          <div class="card-header">
            No options to display.
          </div>
          <div class="card-body">
            <h5 class="card-title">Oops!</h5>
            <p class="card-text">It seems like you didn't add options to compare from the alternatives list! Make sure to add a couple to start.</p>
            <a href="/calc/alt/" class="btn btn-outline-dark">Go back</a>
          </div>
        </div>
    {% else %}
        <div class="container" style="margin: 0 auto;">
        <div class="card text-white bg-success">
          <div class="card-header">
            Best Option!
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ best.alt.name }}</h5>
            <p class="card-text">{{ best.alt.description }}</p>
             <table class="table">
                  <thead>
                    <tr>
                      <th colspan="2"> Info</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td>Total Present Net Value</td>
                        <td>{{ best.vna}} MXN</td>
                    </tr>
                    <tr>
                        <td>Anual Equivalent Value</td>
                        <td>{{ best.pmt}} MXN</td>
                    </tr>
                  <tr>
                        <td>Interest Rate of Return</td>
                        {% if best.irr == None %}
                            <td>{{ best.irr}} %</td>
                        {% else %}
                            <td>N/A</td>
                        {% endif %}

                    </tr>
                  </tbody>
              </table>
          </div>
        </div>
        <div class="container"><br/></div>
            {% for alternative in alts %}
                {% if alternative.alt.pk != best.pk %}
                    <div class="card">
                  <!--    <div class="card-header">
                        {{ alternative.name }}
                      </div>-->
                      <div class="card-body">
                        <h3 class="card-title">{{ alternative.alt.name }}</h3>
                        <p class="card-text">{{ alternative.alt.description}}</p>
                          <table class="table">
                              <thead>
                                <tr>
                                  <th colspan="2"> Info</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                    <td>Total Present Net Value</td>
                                    <td>{{ alternative.vna}} MXN</td>
                                </tr>
                                <tr>
                                    <td>Anual Equivalent Value</td>
                                    <td>{{ alternative.pmt}} MXN</td>
                                </tr>
                                <tr>
                                    <td>Interest Rate of Return</td>
                                    {% if alternative.irr != None %}
                                        <td>{{ alternative.irr}} %</td>
                                    {% else %}
                                        <td>N/A</td>
                                    {% endif %}
                                </tr>

                              </tbody>
                          </table>
                        <p class="card-text"></p>
                      </div>
                    </div>
                    <div class="container"><br/></div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}