{%  extends "Calculator/header.html" %}
{% block title %}
    <title>Conversions</title>
{% endblock %}

{% block content %}
    <br/>
    <div class="container col-md-8" >
    <h1>Conversions</h1>
         <br/>
    <div class="card bg-light mb-3" style="width: 19rem;">
    <div class="card-body">
    <h7 class="card-title">This page allows you to get all the factors of equivalence of flows</h7>
      <br/>
      <br/>
    <p class="card-text"><small><i> <b>Obligatory fields: </b> Interest, number of periods and one of the other fields </i></small></p>
    <form method="post" action="{%  url "conversions" %}">
                {% csrf_token %}
                <br/>
                Interest:           {{  form.interest }} %<br /><br />
                Number of Periods:  {{ form.number_periods }} <br /><br />
                Present Value ($):      {{ form.present_value}} MXN <br /><br />
                Future Value ($):       {{ form.future_value }} MXN<br /><br />
                Payment ($):            {{ form.payment }} MXN     <br /><br />
                <button type="submit" class="btn btn-outline-dark" style="float: right"> Calculate </button>
            </form>
    </div>
    </div>
    </div>
{% endblock %}

