{%  extends "Calculator/header.html" %}
{% block title %}
    <title>Interest</title>
{% endblock %}
{% block content %}
    <br/>
    <div class="container col-md-8" >
            <form method="post" action="{%  url "interest_conversions" %}">
                <h1>Interest Calculator</h1>
                {% csrf_token %}
                <br/>
                <br/>
                <li>Nominal Interest (%): {{  form.nominal }}</li><br /><br />
                <li>Number of Capitalizations: {{ form.capitalizations }}</li><br /><br />
                <li>Effective Interest (%): {{ form.efective }}</li><br /><br />
                <li>Periodic Interest (%) : {{ form.periodic }}</li><br /><br />

                <button type="submit" class="btn btn-outline-dark"> Calculate</button>

            </form>
        </div>
{% endblock %}