{%  extends "Calculator/header.html" %}
{% block title %}
    <title>Interest</title>
{% endblock %}
{% block content %}
    <br/>
    <div class="container col-md-8" >
            <form method="post" action="{%  url "interest_conversions" %}">
                <h1>Interest Calculator</h1>
                {% csrf_token %}
                <br/>
                <br/>
                Nominal Interest (%): {{  form.nominal }}<br /><br />
                Number of Capitalizations: {{ form.capitalizations }}<br /><br />
                Effective Interest (%): {{ form.efective }}<br /><br />
                Periodic Interest (%) : {{ form.periodic }}<br /><br />

                <button type="submit" class="btn btn-outline-dark"> Calculate</button>

            </form>
        </div>
{% endblock %}