{%  extends "Calculator/header.html" %}
{% block title %}
    <title>Interest</title>
{% endblock %}
{% block content %}
    <br/>
    <div class="container col-md-8" >
                <h1>Interest Results</h1>
                {% csrf_token %}
        <li>Nominal Interest (%): {{ data.nominal }}</li>
        <li>Number of Capitalizations: {{ data.capitalizations }}</li>
        <li>Effective Interest (%): {{ data.efective }}</li>
        <li>Periodic Interest (%) : {{ data.periodic }}</li>


        </div>
{% endblock %}